<div class='container'>


    <div class="row justify-content-center">
        <div class="card border-primary">
            <div class="card-header">
                <p class="h3 text-center"> <%= @video.title %></p>
            </div>

            <h3 class="text-center">Voici ta video</h3>
          
            <br>
            <div class="text-center">

                <p><%= link_to 'Retour Accueil', root_path, class:"btn btn-secondary" %></p>

            </div>
        </div>
    </div>  

</div>