<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/basic/favicon.ico" type="image/x-icon">
    <title>Equipe</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<!--Page Content-->
        <h1>TEAM SPOTITUBE</h1>
        <br>
            <h2>Team Principale</h2>
        <div class="row my-1">
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-3 float-left">
                                <img src="assets/img/demo/u6.png" alt="">
                                    <span class="avatar-letter avatar-letter-a circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>Anthony KRIEF</strong>
                                    </div>
                                    <a href="https://www.linkedin.com/in/anthony-krief-8a03a174/">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-2 float-left">
                                    <span class="avatar-letter avatar-letter-a circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>Audélia SENDER</strong>
                                    </div>
                                    <a href="..."></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-3 float-left">
                                    <span class="avatar-letter avatar-letter-e circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>Elia TREILHOU</strong>
                                    </div>
                                    <a href="https://www.linkedin.com/in/elia-treilhou/">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-3 float-left">
                                    <span class="avatar-letter avatar-letter-o circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>Orane CHAPER</strong>
                                    </div>
                                    <a href="https://www.linkedin.com/in/orane-chaper-alriquet-2ba841bb/">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-3 float-left">
                                    <span class="avatar-letter avatar-letter-o circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>Olivier FITOUSSI</strong>
                                    </div>
                                    <a href="https://www.linkedin.com/in/%E2%98%81-olivier-fitoussi-%E2%98%81-4510381a/">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <br>
                    <h2>Team Mentors</h2>
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-3 float-left">
                                    <span class="avatar-letter avatar-letter-d circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>David KRIEF</strong>
                                    </div>
                                    <a href="https://www.linkedin.com/in/david-krief/">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="my-1">
                        <div class="card no-b p-3">
                            <div>
                                <div class="image mr-3 float-left">
                                    <span class="avatar-letter avatar-letter-h circle"></span>
                                </div>
                                <div>
                                    <div>
                                        <strong>Hadrien SAMOUILLAN</strong>
                                    </div>
                                    <a href="https://www.linkedin.com/in/hadrien-samouillan/">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>

</main><!--@Page Content-->
</div><!--@#app-->
<!--/#app -->
<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyC3YkZNNySdyR87o83QEHWglHfHD_PZqiw&libraries=places"></script>
<script src="assets/js/app.js"></script>


</body>
</html>