<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=5, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/basic/favicon.ico" type="image/x-icon">
	<title>A Propos</title>
	<!-- CSS -->
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
	<!--Page Content-->
	<h1>Spotitube c’est quoi ?</h1>
	<h3>Un projet pensé et créé par Olivier FITOUSSI et Anthony KRIEF pour le projet final de la formation The Hacking Project de l’été 2020.</h3>
	<p>L’objectif de ce projet est de réunir les musiques et vidéos préférées de l’utilisateur et les mettre en favoris avec qu’il les retrouve et qu’il puisse en profiter dès qu’il le souhaite.</p>
	
	<p>Il suffira à l’utilisateur de s’identifier avec son ID et Password, puis rentré l’URL de la vidéo.<br>
	Il a aussi la possibilité de partager son lien Spotitube pour invités ses amis.</p>
	
	<h4> L’équipe est composée de : </h4>
	<ul>
	<li> ♪ Orane CHAPER ♪</li>
	<li> ♪ Elia TREILHOU ♪</li>
	<li> ♪ Audélia SANDER ♪</li>
	<li> ♪ Anthony KRIEF ♪</li>
	<li> ♪ Olivier FITOUSSI ♪</li>
	<h4> Nos Mentors :</h4>
	<li> ♫ David KRIEF ♫</li>
	<li> ♫ Hadrien SAMOUILLAN ♫</li>
	<h4> Notre Graphiste :</h4>
	<li> ♬ Alexandra EZRA ♬</li>
	</ul>

	<h1>The Hacking Project c’est quoi ? </h1>
	<p>The hacking Project est une école de formation intensive, sans locaux et sans professeurs, mais SURTOUT une communauté soudée pour avancer dans les projets de THP chaque jour.</p>
	<p>Nous avons choisi le cursus de Full Stack Web pour apprendre et développer nos compétences dans le codage.</p>
	<p>Cette formation dure 12 semaines (dont 2 semaines de projets finaux).<br> Il a pour objectif de permettre à un entrepreneur de créer son projet, à une personne en reconversion d'initier sa nouvelle carrière, ou simplement de compléter son CV pour améliorer son employabilité.</p>

	<h4> Les compétences clés durant toute la formation sont :</h4>
	<ul>
		<li> ● Ruby, Ruby On Rails </li>
		<li> ● HTML5 / CSS3 / JavaScript </li>
		<li> ● Base de données SQL </li>
		<li> ● Apprentissage Git & GitHub </li>
		<li> ● Utilisation de terminal IDE (Sublime Text / Visual Studio Code / intelliJ Idea) </li>
	</ul>

</main><!--@Page Content-->
</div><!--@#app-->
<!--/#app -->
<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyC3YkZNNySdyR87o83QEHWglHfHD_PZqiw&libraries=places"></script>
<script src="assets/js/app.js"></script>

</body>
</html>