<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/basic/favicon.ico" type="image/x-icon">
    <title>Foire aux Questions</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body>
	<h1>Bienvenue sur la Foire aux Question Spotitube by THP</h1>

<!-- FAQ Spotitube-->
        <div class="row my-10">
            <div class="col-md-10">
                <div class="card no-b">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                     aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-faq-tab" data-toggle="pill"
                                       href="#v-pills-faq" role="tab" aria-controls="v-pills-faq"
                                       aria-selected="true">FAQ Spotitube</a><br>
                                    <a class="nav-link" id="v-pills-projet-tab" data-toggle="pill"
                                       href="#v-pills-projet" role="tab" aria-controls="v-pills-projet"
                                       aria-selected="false">Pourquoi ce projet ?</a>
                                    <a class="nav-link" id="v-pills-team-tab" data-toggle="pill"
                                       href="#v-pills-team" role="tab" aria-controls="v-pills-team"
                                       aria-selected="false">De qui est composé ce projet ?</a>
                                    <a class="nav-link" id="v-pills-time-tab" data-toggle="pill"
                                       href="#v-pills-time" role="tab" aria-controls="v-pills-time"
                                       aria-selected="false">Durée du projet ?</a>
                                    <a class="nav-link" id="v-pills-achievement-tab" data-toggle="pill"
                                       href="#v-pills-achievement" role="tab" aria-controls="v-pills-achievement"
                                       aria-selected="false">Quel est l'objectif ?</a>
                                    <a class="nav-link" id="v-pills-function-tab" data-toggle="pill"
                                       href="#v-pills-function" role="tab" aria-controls="v-pills-function"
                                       aria-selected="false">Comment fonctionne t'il ?</a>
                                </div>
                            </div>
                            <div class="col-15">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-faq" role="tabpanel"
                                         aria-labelledby="v-pills-faq-tab">
                                        <p>Choisis ta question ci dessous !</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-projet" role="tabpanel"
                                         aria-labelledby="v-pills-projet-tab">
                                        <p>Nous avons choisi de réaliser ce projet pour le projet final de The Hacking Projet durant 2 semaines en groupe,<br>car nous avons remarquer qu'il manque d'application qui gère le mélange de Spotify et Youtube sur le net.</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-team" role="tabpanel"
                                         aria-labelledby="v-pills-team-tab">
                                        <p>L'équipe qui constitue ce projet est : <li>Elia TREILHOU</li> <li>Orane CHAPER</li><li>Anthony KRIEF</li><li>Olivier FITOUSSI</li><li>Audélia SENDER</li> <br> Aider par les Mentors <br><br><li>David KRIEF</li><li>Hadrien SAMOUILLAN</li></p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-time" role="tabpanel"
                                         aria-labelledby="v-pills-time-tab">
                                        <p>Le projet SPOTITUBE est réalisé sur une durée de 2 semaines.</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-achievement" role="tabpanel"
                                         aria-labelledby="v-pills-achievement-tab">
                                        <p>L’objectif de ce projet est de réunir les musiques et vidéos préférées de l’utilisateur et les mettre en favoris avec qu’il les retrouve et qu’il puisse en profiter dès qu’il le souhaite.</p>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-function" role="tabpanel"
                                         aria-labelledby="v-pills-function-tab">
                                        <p>A Remplir...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</main><!--@Page Content-->
</div><!--@#app-->
<!--/#app -->
<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyC3YkZNNySdyR87o83QEHWglHfHD_PZqiw&libraries=places"></script>
<script src="assets/js/app.js"></script>

</body>
</html>