<!--Sidebar-->
    <aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
        <div class="sidebar">
            <ul class="sidebar-menu">
                <li><a class="ajaxifyPage active" href="index.html">
                    <i class="icon icon-home-1 s-24"></i> <span>Accueil</span>
                </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="icon icon-windows s-24"></i> <span>Mes playlists</span>
                        <i class=" icon-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="element-widgets.html">
                                <i class="icon icon-play text-primary s-14"></i> <span>Playlist 1</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="icon icon-app  s-24"></i> <span>Mes collaborations</span>
                        <i class=" icon-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="element-widgets.html">
                                <i class="icon icon-play text-primary s-14"></i> <span>Playlist 1</span>
                            </a>
                        </li>
                    </ul>
                </li>

    
            </ul>
    
        </div>
    </aside>
<!--Sidebar End-->

<!-- Right Sidebar -->
<aside class="control-sidebar fixed ">
    <div class="slimScroll">
        <div class="sidebar-header">
            <h4>Ajouter une vidéo</h4>
            <p>Importez une vidéo pour l'ajouter à une playlist</p>
            <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle  active"><i></i></a>
        </div>
        <div class="p-3">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control">
                            <label class="form-label">Copier l'url ici</label>
                        </div>
                    </div>
    
                    <input type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4" value="Importer">  
        </div>
    </div>
</aside>